{% extends "base.html.twig" %}


{% block stylesheets %}
    <link href="{{ asset("assets/css/frontend.css") }}?ver=08102016" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
{% endblock %}

{% block socialMeta %}
    <meta property="og:locale"             content="it_IT" />
    <meta property="og:url"                content="{% block ogUrl %}{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}{% endblock ogUrl %}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{% block ogTitle %}Recipe Book{% endblock ogTitle %}" />
    <meta property="og:description"        content="{% block ogDesc %}{% endblock ogDesc %}" />
{#
    <meta property="og:image"              content="{% block ogImage %}{{ asset("",null,true) }}{% endblock ogImage %}" />
#}
{% endblock socialMeta %}

{% block googleAnalytics %}{% endblock %}

{% block bodyclass %}
    {{ parent() }}
    rb-public
{% endblock %}


{% block title %}RECIPE BOOK - {% block pagetitle %}Index{% endblock %}{% endblock %}

{% block header %}
    {% include "@RecipeBookApp/inc/header.html.twig" %}
{% endblock %}


{% block content %}{% endblock %}

{#{% block cookieBar %}#}
    {#<div class="ui-widget" id="cookie-bar">#}
        {#<div class="cookie-message ui-widget-header blue" id="cookie-msg" style="display: none;">#}
            {#<p class="informativa-cookie">Questo sito utilizza i cookie per migliorare la navigazione e consentire l'offerta di servizi all'interno del sito. Usiamo inoltre gli script Google Analytics e non forniamo dati di navigazione a terzi. Per maggiori informazioni:#}
                {#<a class="cookie-privacy" href="http://www.romeprivateexcursions.com/">Privacy</a> <br/> <a class="btn btn-default accept-cookie" href="#">Accetta</a>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}


{% block footer %}
    {% include "@RecipeBookApp/inc/footer.html.twig" %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('assets/js/frontend.js') }}"></script>
    {#<script type="text/javascript">#}
    {#$(document).ready(function() {#}
    {#$(".cookie-message").cookieBar({#}
    {#secure: {{ http_scheme == "https" ? "true" : "false" }},#}
    {#closeButton: ".accept-cookie"#}
    {#});#}
    {#});#}
    {#</script>#}
{% endblock %}