<header class="rb-header">


    <div class="row rb-logo">
        <div class="col-md-12">
            <a href="{{ url('public_home') }}">
                <p>My Recipe Book</p>
            </a>
        </div>
    </div>



    {% include '@RecipeBookApp/inc/menu.html.twig' %}

</header>