<div class="rb-public-header-menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="rb-li-category">
                        <a href="{{ path('public_home') }}">
                            <span class="fa fa-home rb-fa-icon rb-li-i" aria-hidden="true"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="dropdown rb-li-category">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-book rb-fa-icon rb-li-i"></span>
                            <span>Ricette</span>
                            <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('antipasti_public_page') }}"><span class="flaticon-wrap rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Antipasti</span> </a> </li>
                            <li><a href="{{ path('primi_piatti_public_page') }}"><span class="flaticon2-pasta2 rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Primi</span> </a> </li>
                            <li><a href="{{ path('secondi_piatti_public_page') }}"><span class="flaticon-turkey rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Secondi</span> </a> </li>
                            <li><a href="{{ path('dessert_public_page') }}"><span class="flaticon-pie rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Dessert</span> </a> </li>
                        </ul>
                    </li>
                    <li class="dropdown rb-li-category">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-calendar rb-fa-icon rb-li-i" aria-hidden="true"></span>
                            <span>Festivit&agrave; - Periodo</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('public_festivity_page', {'id': 1}) }}"><span class="fa fa-snowflake-o rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Natale</span></a></li>
                            <li><a href="{{ path('public_festivity_page', {'id': 2}) }}"><span class="fa fa-pied-piper-alt rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Carnevale</span></a></li>
                            <li><a href="{{ path('public_festivity_page', {'id': 3}) }}"><span class="fa fa-bell-o rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Pasqua</span></a></li>
                            <li><a href="{{ path('public_festivity_page', {'id': 4}) }}"><span class="fa fa-heart-o rb-icon rb-li-sub-i" aria-hidden="true"></span><span>San Valentino</span></a></li>
                            <li><a href="{{ path('public_festivity_page', {'id': 5}) }}"><span class="fa fa-snapchat-ghost rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Halloween</span></a></li>
                        </ul>
                    </li>
                    <li class="rb-li-category">
                        <a href="">
                            <span class="fa fa-star rb-fa-icon rb-li-i" aria-hidden="true"></span>
                            <span>Top List</span>
                        </a>
                    </li>
                    <li class="dropdown rb-li-category">
                        <a href="">
                            <span class="fa fa-globe rb-fa-icon rb-li-i" aria-hidden="true"></span>
                            <span>Tipicit&agrave;</span>
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="dropdown rb-li-category rb-li-account">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user rb-fa-icon" aria-hidden="true"></span>
                                <span>Loggato come {{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a href="{{ url('admin_dashboard_page') }}"><span class="fa fa-dashboard rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Dashboard</span></a></li>
                                <li><a href="{{ url('fos_user_security_logout') }}"><span class="fa rb-fa-icon fa-sign-out rb-icon rb-li-sub-i" aria-hidden="true"></span><span>Logout</span></a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="rb-li-category">
                            <a href="{{ url('admin_dashboard_page') }}">
                                <span class="fa rb-fa-icon fa-cog rb-li-sub-i" aria-hidden="true"></span>
                                <span>Login</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>