<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="it">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="fruitloop"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="rating" content="general">
    <meta http-equiv="expires" content="0">
    <meta name="language" content="italiano (italian)">
    <meta name="distribution" content="global">
    <meta name="resource-type" content="document">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="10 days">
    <meta name="email" content="bruno@quadraweb.it">
    <meta name="author" content="Bruno QuadraWeb">
    <meta name="copyright" content="Copyright {{ "now"|date('Y') }} by bruno@quadraweb.it">
</head>
<body class="recipe-book {% block bodyclass %}{% endblock %}">
{% block body %}
    {% block header %}{% endblock %}
    <div class="container main rb-container-main">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>