.rb-left-admin-menu{

  .rb_a_li{
    display: block;
    height: 100%;
    width: 100%;
  }

  a{
    text-decoration: none !important;
  }

  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 250px;
  background: #F6F6F6;

  .rb-navbar-header{
    height: 70px;

    li{
      text-align: center;
    }
  }

  .rb-logo {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    padding: 5px;
  }

  .rb-navbar{
    position: fixed;
    height: inherit;
    width: inherit;

    .rb-navbar-content{
      li{
        padding: 5px;
        margin-bottom:10px;
        font-size: 20px;

        &:hover{
          background: #dddddd;
          cursor: pointer;
        }

        .fa{
          padding-right: 5px;
        }
      }
    }
  }
}