<div class="rb-admin-content-menu">
    <div class="row">
        {% if menuElements is defined and menuElements|length %}
            {% for element in menuElements %}
                <div class="col-md-3">
                    <a href="">
                        <span class="fa {{ element['iconClass'] }}" style="display: block"></span>
                        <span style="display: block">{{ element['menuText'] }}</span>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>