<div class="rb-left-admin-menu">
    <div class="rb-navbar">
        <div class="rb-navbar-header">
            <ul>
                <li>
                    <a href="{{ url('public_home') }}">
                        <span class="rb-logo">My Recipe Book</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rb-navbar-content">
            <ul class="rb-navbar-ul">
                <li>
                    <a href="{{ path('admin_dashboard_page') }}" class="rb_a_li">
                        <span class="fa fa-dashboard"></span>
                        <span class="navmenu-text">Dashboard Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_ricetta_list') }}" class="rb_a_li">
                        <span class="flaticon2-cookbook"></span>
                        <span class="navmenu-text">Ricette</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_tipo_ricetta_list') }}" class="rb_a_li">
                        <span class="flaticon2-padnote"></span>
                        <span class="navmenu-text">Tipi Ricette</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_categoria_ricetta_list') }}" class="rb_a_li">
                        <span class="flaticon2-menu-1"></span>
                        <span class="navmenu-text">Categorie Ricette</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_portata_ricetta_list') }}" class="rb_a_li">
                        <span class="flaticon2-menu"></span>
                        <span class="navmenu-text">Portate Ricette</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_festivita_ricetta_list') }}" class="rb_a_li">
                        <span class="fa fa-calendar"></span>
                        <span class="navmenu-text">Festivit&agrave; Ricette</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_ingredienti_list') }}" class="rb_a_li">
                        <span class="flaticon-groceries"></span>
                        <span class="navmenu-text">Ingredienti</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_lista_tipo_ingredienti') }}" class="rb_a_li">
                        <span class="flaticon2-padnote"></span>
                        <span class="navmenu-text">Tipi Ingredienti</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_utensili_list') }}" class="rb_a_li">
                        <span class="flaticon2-cutlery-12"></span>
                        <span class="navmenu-text">Utensili</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_vitamine_list') }}" class="rb_a_li">
                        <span class="flaticon2-browser"></span>
                        <span class="navmenu-text">Vitamine</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_recensioni_list') }}" class="rb_a_li">
                        <span class="flaticon2-restaurant-card"></span>
                        <span class="navmenu-text">Review</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_nazioni_list') }}" class="rb_a_li">
                        <span class="fa fa-globe"></span>
                        <span class="navmenu-text">Nazioni</span>
                    </a>
                </li>
                {#<li>#}
                    {#<a href="{{ path('admin_nazioni_list') }}">#}
                        {#<span class="fa fa-dashboard"></span>#}
                        {#<span class="navmenu-text">Utenti</span>#}
                    {#</a>#}
                {#</li>#}
            </ul>
        </div>
    </div>
</div>



{#

<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <span class="rb-logo-dashboard">My Recipe Book Dashboard</span>
    <ul class="nav navmenu-nav">
        {{ nav_list_controller("Dashboard",'admin_dashboard_page') }}
        <li>
            {{ nav_list_controller_link("Ingredienti",'admin_ingredienti_list') }}
            <ul class="">
                {{ nav_list_controller("Lista Ingredienti",'admin_ingredienti_list',true) }}
                {{ nav_list_controller("Nuovo Ingrediente",'admin_aggiungi_ingrediente',true) }}
            </ul>
        </li>
        <li>
            {{ nav_list_controller_link("Utensili",'admin_utensili_list') }}
            <ul class="">
                {{ nav_list_controller("Lista Utensili",'admin_utensili_list',true) }}
                {{ nav_list_controller("Nuovo Utensile",'admin_aggiungi_utensile',true) }}
            </ul>
        </li>
    </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>#}
