/** ======== VARIABILI COLORE + DIMENSIONI =========== */
@import "../../themes/default";

/** ======== STILI GLOBALI =========== */
@import "parts/reset";
@import "parts/global";

/** ======== STILI VENDORS =========== */
@import "../../vendors/fosuserbundle";

/** ======== STILI INC =========== */
@import "parts/inc/header";
@import "parts/inc/list-table";

/** =========== FONT =========== */
@import "parts/fonts/flaticon";
@import "parts/fonts/flaticon2";

@media print{
  @import "parts/print";
}

@media screen and (max-width:479px) {
  @import "parts/responsive/smartphone/phone";
}

@media screen and (max-width:767px) {
  @import "parts/responsive/smartphone/smartphone";
}

@media screen and (min-width: 768px) and (max-width: 999px){
  @import "parts/responsive/tablet/tablet";
}

@media screen and (min-width:1000px) and (max-width: 1200px){
  @import "parts/responsive/desktop/desktop";
}

@media screen and (min-width:1201px) {
  @import "parts/responsive/wide/wide";
}

.rb-public{

  #rbCarousel{
    width: 90%;
    margin: 0 auto;
  }

  .rb-container-main{
    .rb-div-box{
      margin-bottom:10px;
      padding: 10px 0 10px 0;

      .rb-div-box-header{
        background: #e2e0dd;
        border: 1px solid #e2e0dd;
        -webkit-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;

        h4{
          padding-left: 10px;
        }
      }

      .rb-div-box-content{
        border: 1px solid #e2e0dd;
        height: 300px;
      }
    }

    .rb-div-large-box{
      height: 300px;
    }

    .rb-div-large-box-img{
      background: url("../images/site/recipe_book_cover_header.jpg");
      background-size: cover;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
    }

    .rb-div-box-left{
      float: left;
      width: 50%;
    }

    .rb-div-box-right{
      float: right;
      width: 49%;
    }

  }

}