{% extends "FOSUserBundle::base_fos_user_page.html.twig" %}

{% block formclass %}register{% endblock %}

{% block fos_user_form %}
    <div class="debug" style="width: 100px;height: 100px;border: 1px solid red">
        <span class="fa fa-cross"></span>
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
    <div>
        <input type="submit" class="btn btn-primary fosuserpage-btn register-btn" id="_submit" name="_submit" value="Register" />
    </div>
    <div class="form-group">
        <div><a href="{{ path('fos_user_security_login') }}">Already have an account? Login.</a> </div>
        <div><a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a> </div>
    </div>
    {{ form_end(form) }}
{% endblock %}