@import "admin/admin";
@import "public/public";

.rb_category_recipe_header{
  border-bottom: 3px solid gainsboro;
  margin-bottom: 20px;
}

.rb_recipe_list_row{
  margin-left: 0 !important;
}

.rb_recipe_list_box{
  margin-bottom: 10px;
  min-height: 70px !important;
  padding-left: 0 !important;
  border-bottom: 1px solid gainsboro;
  &:hover{
    background: ghostwhite;
  }
}