{% extends "@RecipeBookApp/public-base.html.twig" %}

{% block content %}
    <header><h4>Dessert:</h4></header>

    {% if dessert is defined and dessert|length %}
        {% for ricetta in dessert %}
            <div class="row rb_recipe_list_row">
                <div class="col-md-8 rb_recipe_list_box">
                    <div class="col-md-8">
                        <a href="{{url('public_page_ricetta', {'id':ricetta.getId}) }}">
                            <p class="rb_recipe_list_name">{{ ricetta.getName }}</p>
                        </a>
                        <p>
                            {% if ricetta.getDescription|length > 66 %}{{ ricetta.getDescription|slice(0,77) }} ...
                            {% else %}{{ ricetta.getDescription }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-4">
                        {% if ricetta.getDifficulty|length %}<div class="row"><div class="col-md-5">Difficoltà: </div><div class="col-md-5">{{ ricetta.getDifficultyArrayName[ricetta.getDifficulty] }}</div></div>{% endif %}
                        {% if ricetta.getCost|length %}<div class="row"><div class="col-md-5">Costo: </div><div class="col-md-5">{{ ricetta.getCostArrayName[ricetta.getCost]  }}</div></div>{% endif %}
                        {% if ricetta.getVeg %}<div class="row"><div class="col-md-5" style="background: lime">Veg</div></div>{% endif %}
                        {% if ricetta.getGlutenFree %}<div class="row"><div class="col-md-5" style="background: wheat">Gluten Free</div></div>{% endif %}
                        {% if ricetta.getCountry is not null %}
                            {% set country = ricetta.getCountry %}
                            <div>
                                <img src="{{ asset('assets/images/flags/') }}{{ country.getFlag32 }}" title="{{ country.getName }}" alt="{{ country.getName }}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="rb-knp-navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <h6>Nessun dessert trovato.</h6>
    {% endif %}
{% endblock %}