{% extends "@RecipeBookApp/public-base.html.twig" %}

{% block content %}
    {% if ricetta is not null %}
        <div class="row rb-recipe-header" style="margin-bottom: 20px; border-bottom: 3px solid gainsboro">
            <h3 style="color: #2e6da4">{{ ricetta.getName }}</h3>
            {% if ricetta.judgement %}
                <span>Giudizio medio ricetta:</span>
               {% for i in range(1, ricetta.judgement) %}<span class="fa fa-star"></span>{% endfor %}
            {% endif %}
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                {% if ricetta.getDifficulty is not null %}
                    <span class="flaticon-chef"></span>
                    <span>Difficoltà:</span>
                    <span>{{ ricetta.getDifficultyArrayName[ricetta.getDifficulty] }}</span>
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if ricetta.getWorkingTime %}
                    <span class="flaticon-stew-1"></span>
                    <span>Preparazione:</span>
                    <span>{{ ricetta.getWorkingTime|date('H:i') }}</span>
                {% endif %}
            </div>
            <div class="col-md-3">{% if ricetta.getNPersonDose %}
                    <span class="flaticon-scale"></span>
                    <span>Dosi per:</span>
                    <span>{{ ricetta.getNPersonDose }} persone</span>
                {% endif %}
            </div>
            <div class="col-md-3">{% if ricetta.getCost %}
                    <span class="flaticon2-wallet"></span>
                    <span>Costo:</span>
                    <span>{{ ricetta.getCostArrayName[ricetta.getCost] }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col md-12">
                <header><h3>Presentazione:</h3></header>
                <p>{% if ricetta.getDescription %}{{ ricetta.getDescription }}{% endif %}</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            {% if ricetta.composedOfRecipes|length %}
                {% for rp in ricetta.composedOfRecipes %}
                    <div class="row" style="margin: 0!important;">
                        {% if rp.getRecipeIngredients %}
                            <header><h3>Ingredienti per {{ rp.getName }}:</h3></header>
                            {% for ri in rp.getRecipeIngredients %}
                                {% set i = ri.getIngredient %}
                                <div class="col-md-3">
                                    <span class="fa fa-circle"></span>
                                    <span>{{ i.getName }}: {{ ri.quantity }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if ricetta.getRecipeIngredients %}
                <div class="row" style="margin: 0!important;">
                    <header><h3>Ingredienti {{ ricetta.name }}:</h3></header>
                    {% for recipeIngredient in ricetta.getRecipeIngredients %}
                        {% set ingredient = recipeIngredient.getIngredient %}
                        <div class="col-md-3">
                            <span class="fa fa-circle"></span>
                            <span>{{ ingredient.getName }}: {{ recipeIngredient.quantity }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row" style="margin-bottom: 20px;">
            {% if ricetta.getRecipeProcedure %}
                <header><h3>Procedimento:</h3></header>
                <div class="col-md-12">
                    {% if ricetta.composedOfRecipes|length %}
                        {% for rp in ricetta.composedOfRecipes %}
                            <h4 style="font-weight: bold">{{ rp.getName }}:</h4>
                            {{ rp.getRecipeProcedure|raw }}
                        {% endfor %}
                        <h4 style="font-weight: bold">{{ ricetta.getName }}</h4>
                    {% endif %}
                    {{ ricetta.getRecipeProcedure|raw }}
                </div>
            {% endif %}
        </div>
        <div class="row" style="margin-bottom: 20px;">
            {% if ricetta.getAdvice %}
                <header><h3>Consigli:</h3></header>
                <div class="col-md-12">
                    {% if ricetta.composedOfRecipes|length %}
                        {% for r in ricetta.composedOfRecipes %}
                            {{ r.getAdvice|raw}}
                        {% endfor %}
                    {% endif %}
                    {{ ricetta.getAdvice|raw }}
                </div>
            {% endif %}
        </div>

        {% if app.user %}
            <div class="row" style="margin-top: 25px">
                <header><h4>Aggiungi un commento alla ricetta:</h4></header>
                {{ form_start(form, {'attr' : {'id' : 'rb_form_review_ricetta'}}) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.reviewsText) }}
                            {{ form_widget(form.reviewsText) }}

                            {{ form_label(form.judgement) }}
                            {{ form_widget(form.judgement) }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" form="rb_form_review_ricetta">Salva</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        {% endif %}

        {% if ricetta.reviews|length %}
            <div class="row rb_reviews">
                <header><h3>Commenti alla ricetta:</h3></header>
                {% for reviews in ricetta.reviews %}
                    <div class="row">
                        <div class="col-md-2">{% if reviews.users %}<p>{{ reviews.users }}</p>{% endif %}</div>
                        <div class="col-md-5">{% if reviews.reviewsText %}<p>{{ reviews.reviewsText }}</p>{% endif %}</div>
                        <div class="col-md-2">{% if reviews.judgement %}{% for i in range(1, reviews.judgement) %}<span class="fa fa-star"></span>{% endfor %}{% endif %}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% else %}
        <p>Ricetta non trovata.</p>
    {% endif %}

{% endblock %}
