{% extends "FOSUserBundle::base_fos_user_page.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formclass %}{% endblock %}

{% block fos_user_form %}

    <form action="{{ path("fos_user_security_check") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group">
            <label class="control-label" for="username">Nome utente</label>
            <div class="input-group">
                <div class="input-group-addon glyphicon glyphicon-user"></div>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                       placeholder="Nome utente" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="exampleInputPassword1">Password</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="password" id="password" name="_password" required="required" class="form-control"
                       placeholder="Password">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Ricordami
            </label>
        </div>
        <input type="submit" class="btn btn-primary fosuserpage-btn login-btn" id="_submit" name="_submit"
               value="Login"/>
        <div class="form-group">
            <div><a href="{{ path('fos_user_registration_register') }}">Registrati</a></div>
            <div><a href="{{ path('fos_user_resetting_request') }}">Hai dimenticato la tua password?</a></div>
        </div>
        <div class="cl"></div>
    </form>


{% endblock %}