{% extends "::base.html.twig" %}


{% block bodyclass %}fosuserpage {% block formclass %}{% endblock %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/css/frontend.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="fos-login">
        <div class="fosuserpage-form loginform">
            {% block fos_user_form %}{% endblock %}
        </div>
        <div class="operation"></div>
    </div>

{% endblock %}