{% extends "FOSUserBundle::base_fos_user_page.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formclass %}resetpassword{% endblock %}

{% block fos_user_form %}
    <div class="fosuserpage-form resetpasswordform">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
        <div class="email-sent" style="text-align: center">
            <img src="{{ asset("") }}" alt="Email sent" width="200" height="200">
        </div>
        <br><br>
        <div class="form-group">
            <div><a href="{{ path('fos_user_security_login') }}">Already have an account? Login.</a> </div>
            <div><a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a> </div>
        </div>
    </div>
{% endblock %}