{% extends "FOSUserBundle::base_fos_user_page.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formclass %}resetpassword{% endblock %}

{% block fos_user_form %}
    <div class="fosuserpage-form resetpasswordform">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <div class="form-group">
                <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
                <div class="input-group">
                    <div class="input-group-addon glyphicon glyphicon-user"></div>
                    <input type="text" class="form-control" id="username" name="username" value="" placeholder="Username" required="required">
                </div>
            </div>
            <input type="submit" class="btn btn-primary fosuserpage-btn login-btn" id="_submit" name="_submit" value="Reset password" />
        </form>
    </div>
{% endblock %}