{% extends "FOSUserBundle::base_fos_user_page.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formclass %}resetpassword{% endblock %}

{% block fos_user_form %}
    <div class="fosuserpage-form resetpasswordform">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary fosuserpage-btn register-btn" id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" />
            <div class="form-group">
                <div><a href="{{ path('fos_user_security_login') }}">Already have an account? Login.</a> </div>
                <div><a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a> </div>
            </div>
        </form>
    </div>
{% endblock %}




