.cl{
  clear: both;
  line-height: 1em;
  float: none;
}

body {
  background-color: $bodycolor;

  .recipe-book {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  .rb-dashboard-container{
    margin-top: 100px;
  }

}

label.control-label{
  margin-bottom: 5px;
}

.input-group-addon.glyphicon{
  top: 0;
}

.rb-container-main {
  margin-top: 10px;
}

.rb-widget-box-icon {
  padding-right: 5px;
}

.rb-widget-box {
  min-width: 500px;
  min-height: 300px;
  border: 1px #d9d9d9 solid;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.rb-header-box {
  background-color: #f9f6f1;
  border-bottom: 1px #d9d9d9 solid;
}


