{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    {{ parent() }}

    <header class="rb-admin-aggiungi-entita-header">
        <h3 class="rb-admin-aggiungi-entita">Aggiungi Utensile:</h3>
    </header>
    {{ form_start(form, {'attr': {'id' : 'rb_form_utensile'}}) }}
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success" form="rb_form_utensile">Salva</button>
                    <a href="{{ url('admin_utensili_list') }}">
                        <button class="btn btn-danger">Annulla</button>
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
