{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    {{ parent() }}

    <header class="rb-admin-aggiungi-entita-header">
        <h3 class="rb-admin-aggiungi-entita">Aggiungi Ricetta:</h3>
    </header>

    {% form_theme form '@RecipeBookAdmin/Default/inc/jquery.collection.html.twig' %}

    {{ form_start(form, {'attr' : {'id' : 'rb_form_ricetta'}}) }}
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <header class="form-group-header"><h4>Dati Anagrafici:</h4></header>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="col-md-8">
                    <header class="form-group-header"><h4>Dati ricetta:</h4></header>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.cost) }}
                            {{ form_widget(form.cost) }}

                            {{ form_label(form.workingTime) }}
                            {{ form_widget(form.workingTime) }}

                            {{ form_label(form.difficulty) }}
                            {{ form_widget(form.difficulty) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}

                            {{ form_label(form.festivity) }}
                            {{ form_widget(form.festivity) }}

                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}

                            {{ form_label(form.veg) }}
                            {{ form_widget(form.veg) }}

                            {{ form_label(form.gluten_free) }}
                            {{ form_widget(form.gluten_free) }}

                            {{ form_label(form.composedOfRecipes) }}
                            {{ form_widget(form.composedOfRecipes) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <header class="form-group-header"><h4>Procedure e consigli:</h4></header>
                {{ form_label(form.recipeProcedure) }}
                {{ form_widget(form.recipeProcedure) }}

                {{ form_label(form.advice) }}
                {{ form_widget(form.advice) }}
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_label(form.nPersonDose) }}
                    {{ form_widget(form.nPersonDose) }}
                </div>
            </div>
            <div class="row">
                {{ form_label(form.tools) }}
                {{ form_widget(form.tools) }}
            </div>
            <div class="row">
                {{ form_label(form.recipeIngredients) }}
                {{ form_widget(form.recipeIngredients) }}
            </div>
            <div class="row">
                <div class="col-md-4">
                   <button type="submit" class="btn btn-success" form="rb_form_ricetta">Salva</button>
                    <a href="{{ url('admin_ricetta_list') }}">
                        <button class="btn btn-danger">Annulla</button>
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
