{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    {{ parent() }}

    <header class="rb-admin-aggiungi-entita-header">
        <h3 class="rb-admin-aggiungi-entita">Aggiungi Ingrediente:</h3>
    </header>

    {{ form_start(form, {'attr': {'id' : 'rb_form_ingrediente'}}) }}

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <header class="form-group-header"><h4>Dati Anagrafici:</h4></header>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}

                {{ form_label(form.ingredientType) }}
                {{ form_widget(form.ingredientType) }}
            </div>
            <div class="col-md-8">
                <header class="form-group-header"><h4>Valori Nutrizionali:</h4></header>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.kcalG) }}
                        {{ form_widget(form.kcalG) }}

                        {{ form_label(form.fatG) }}
                        {{ form_widget(form.fatG) }}

                        {{ form_label(form.saturatedFatG) }}
                        {{ form_widget(form.saturatedFatG) }}

                        {{ form_label(form.polyUnsaturatedFatG) }}
                        {{ form_widget(form.polyUnsaturatedFatG) }}

                        {{ form_label(form.monoUnsaturatedFatG) }}
                        {{ form_widget(form.monoUnsaturatedFatG) }}

                        {{ form_label(form.transFatG) }}
                        {{ form_widget(form.transFatG) }}

                        {{ form_label(form.cholesterolG) }}
                        {{ form_widget(form.cholesterolG) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.sodiumG) }}
                        {{ form_widget(form.sodiumG) }}

                        {{ form_label(form.potassiumG) }}
                        {{ form_widget(form.potassiumG) }}

                        {{ form_label(form.carbohydrateG) }}
                        {{ form_widget(form.carbohydrateG) }}

                        {{ form_label(form.proteinG) }}
                        {{ form_widget(form.proteinG) }}

                        {{ form_label(form.calciumG) }}
                        {{ form_widget(form.calciumG) }}

                        {{ form_label(form.ironG) }}
                        {{ form_widget(form.ironG) }}

                        {{ form_label(form.magnesiumG) }}
                        {{ form_widget(form.magnesiumG) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" form="rb_form_ingrediente">Salva</button>
                <a href="{{ url('admin_ingredienti_list') }}">
                    <button class="btn btn-danger">Annulla</button>
                </a>
            </div>
            <div class="col-md-8">
                {{ form_label(form.vitamins) }}
                {{ form_widget(form.vitamins) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
