{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    {{ parent() }}

    <header class="rb-admin-aggiungi-entita-header">
        <h3 class="rb-admin-aggiungi-entita">Aggiungi Vitamine:</h3>
    </header>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
