{% extends "@RecipeBookApp/public-base.html.twig" %}

{% block content %}
    <div class="row">
        <div id="rbCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#rbCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#rbCarousel" data-slide-to="1"></li>
                <li data-target="#rbCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('assets/images/site/rb-christmas-carousel.jpg') }}">
                </div>

                <div class="item">
                    <img src="{{ asset('assets/images/site/rb-dessert-carousel.jpg') }}">
                </div>

                <div class="item">
                    <img src="{{ asset('assets/images/site/rb-first-course-carousel.jpg') }}" alt="Flower">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#rbCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#rbCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <header><h3>Categorie:</h3></header>
        {% for category in categories %}
            <div class="col-md-3" style="margin: 5px;text-transform: capitalize">
                <a href="{{ url('public_category_page', {'id':category.getId}) }}">{{ category.getName }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
