    /*
    Flaticon icon font: Flaticon
    Creation date: 04/07/2016 14:10
    */

    @font-face {
  font-family: "Flaticon2";
  src: url("../fonts/Flaticon2.eot");
  src: url("../fonts/Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon2.woff") format("woff"),
       url("../fonts/Flaticon2.ttf") format("truetype"),
       url("../fonts/Flaticon2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("../fonts/Flaticon2.svg#Flaticon") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
    font-family: Flaticon2;
    font-size: 20px;
    font-style: normal;
    //margin-left: 20px;
}
    .flaticon2-apron:before { content: "\f500"; }
.flaticon2-bar:before { content: "\f101"; }
.flaticon2-barbecue:before { content: "\f102"; }
.flaticon2-barman:before { content: "\f103"; }
.flaticon2-beer:before { content: "\f104"; }
.flaticon2-bell:before { content: "\f105"; }
.flaticon2-board:before { content: "\f106"; }
.flaticon2-breakfast:before { content: "\f107"; }
.flaticon2-brochette:before { content: "\f108"; }
.flaticon2-browser:before { content: "\f109"; }
.flaticon2-cake2:before { content: "\f10a"; }
.flaticon2-cake2-1:before { content: "\f10b"; }
.flaticon2-candles:before { content: "\f10c"; }
.flaticon2-carrot2:before { content: "\f10d"; }
.flaticon2-champagne:before { content: "\f10e"; }
.flaticon2-chef-hat:before { content: "\f10f"; }
.flaticon2-chicken:before { content: "\f110"; }
.flaticon2-clipboard:before { content: "\f111"; }
.flaticon2-closed:before { content: "\f112"; }
.flaticon2-cocktail:before { content: "\f113"; }
.flaticon2-coffee2:before { content: "\f114"; }
.flaticon2-coffee-cup:before { content: "\f115"; }
.flaticon2-coffee-maker2:before { content: "\f116"; }
.flaticon2-cookbook:before { content: "\f117"; }
.flaticon2-cooker:before { content: "\f118"; }
.flaticon2-corkscrew:before { content: "\f119"; }
.flaticon2-credit-card:before { content: "\f11a"; }
.flaticon2-croissant2:before { content: "\f11b"; }
.flaticon2-cupcake2:before { content: "\f11c"; }
.flaticon2-cutlery2:before { content: "\f11d"; }
.flaticon2-cutlery-12:before { content: "\f11e"; }
.flaticon2-daily-specials-board:before { content: "\f11f"; }
.flaticon2-delivery:before { content: "\f120"; }
.flaticon2-dinner:before { content: "\f121"; }
.flaticon2-dinner-1:before { content: "\f122"; }
.flaticon2-discount:before { content: "\f123"; }
.flaticon2-dish2:before { content: "\f124"; }
.flaticon2-dishes2:before { content: "\f125"; }
.flaticon2-fast-food:before { content: "\f126"; }
.flaticon2-fish2:before { content: "\f127"; }
.flaticon2-flower:before { content: "\f128"; }
.flaticon2-fork2:before { content: "\f129"; }
.flaticon2-fruit:before { content: "\f12a"; }
.flaticon2-hamburger:before { content: "\f12b"; }
.flaticon2-hot-pepper:before { content: "\f12c"; }
.flaticon2-ice-cream2:before { content: "\f12d"; }
.flaticon2-invoice:before { content: "\f12e"; }
.flaticon2-ketchup:before { content: "\f12f"; }
.flaticon2-knife2:before { content: "\f130"; }
.flaticon2-ladle2:before { content: "\f131"; }
.flaticon2-libra:before { content: "\f132"; }
.flaticon2-lobster:before { content: "\f133"; }
.flaticon2-menu:before { content: "\f134"; }
.flaticon2-menu-1:before { content: "\f135"; }
.flaticon2-microwave-oven:before { content: "\f136"; }
.flaticon2-mill:before { content: "\f137"; }
.flaticon2-mixer2:before { content: "\f138"; }
.flaticon2-no-smoking:before { content: "\f139"; }
.flaticon2-noodles2:before { content: "\f13a"; }
.flaticon2-open:before { content: "\f13b"; }
.flaticon2-padnote:before { content: "\f13c"; }
.flaticon2-pasta2:before { content: "\f13d"; }
.flaticon2-pizza2:before { content: "\f13e"; }
.flaticon2-placeholder:before { content: "\f13f"; }
.flaticon2-point-of-service:before { content: "\f140"; }
.flaticon2-pot2:before { content: "\f141"; }
.flaticon2-refrigerator:before { content: "\f142"; }
.flaticon2-reserved:before { content: "\f143"; }
.flaticon2-restaurant:before { content: "\f144"; }
.flaticon2-restaurant-card:before { content: "\f145"; }
.flaticon2-rolling-pin2:before { content: "\f146"; }
.flaticon2-salmon2:before { content: "\f147"; }
.flaticon2-salt-and-pepper:before { content: "\f148"; }
.flaticon2-salver:before { content: "\f149"; }
.flaticon2-sausages:before { content: "\f14a"; }
.flaticon2-sausages-1:before { content: "\f14b"; }
.flaticon2-scooter:before { content: "\f14c"; }
.flaticon2-shaker:before { content: "\f14d"; }
.flaticon2-shrimp2:before { content: "\f14e"; }
.flaticon2-signboard:before { content: "\f14f"; }
.flaticon2-smartphone:before { content: "\f150"; }
.flaticon2-soup:before { content: "\f151"; }
.flaticon2-spatula2:before { content: "\f152"; }
.flaticon2-spatula2-1:before { content: "\f153"; }
.flaticon2-spicy-food:before { content: "\f154"; }
.flaticon2-steak2:before { content: "\f155"; }
.flaticon2-sushi2:before { content: "\f156"; }
.flaticon2-take-away:before { content: "\f157"; }
.flaticon2-tea2:before { content: "\f158"; }
.flaticon2-terrace:before { content: "\f159"; }
.flaticon2-toast2:before { content: "\f15a"; }
.flaticon2-tree:before { content: "\f15b"; }
.flaticon2-vegan:before { content: "\f15c"; }
.flaticon2-vegetarian-food:before { content: "\f15d"; }
.flaticon2-waiter:before { content: "\f15e"; }
.flaticon2-wallet:before { content: "\f15f"; }
.flaticon2-wc:before { content: "\f160"; }
.flaticon2-wifi:before { content: "\f161"; }
.flaticon2-wine:before { content: "\f162"; }
.flaticon2-wine-menu:before { content: "\f163"; }
    
    $font-flaticon2-apron: "\f500";
    $font-flaticon2-bar: "\f101";
    $font-flaticon2-barbecue: "\f102";
    $font-flaticon2-barman: "\f103";
    $font-flaticon2-beer: "\f104";
    $font-flaticon2-bell: "\f105";
    $font-flaticon2-board: "\f106";
    $font-flaticon2-breakfast: "\f107";
    $font-flaticon2-brochette: "\f108";
    $font-flaticon2-browser: "\f109";
    $font-flaticon2-cake2: "\f10a";
    $font-flaticon2-cake2-1: "\f10b";
    $font-flaticon2-candles: "\f10c";
    $font-flaticon2-carrot2: "\f10d";
    $font-flaticon2-champagne: "\f10e";
    $font-flaticon2-chef-hat: "\f10f";
    $font-flaticon2-chicken: "\f110";
    $font-flaticon2-clipboard: "\f111";
    $font-flaticon2-closed: "\f112";
    $font-flaticon2-cocktail: "\f113";
    $font-flaticon2-coffee2: "\f114";
    $font-flaticon2-coffee-cup: "\f115";
    $font-flaticon2-coffee-maker2: "\f116";
    $font-flaticon2-cookbook: "\f117";
    $font-flaticon2-cooker: "\f118";
    $font-flaticon2-corkscrew: "\f119";
    $font-flaticon2-credit-card: "\f11a";
    $font-flaticon2-croissant2: "\f11b";
    $font-flaticon2-cupcake2: "\f11c";
    $font-flaticon2-cutlery2: "\f11d";
    $font-flaticon2-cutlery2-1: "\f11e";
    $font-flaticon2-daily-specials-board: "\f11f";
    $font-flaticon2-delivery: "\f120";
    $font-flaticon2-dinner: "\f121";
    $font-flaticon2-dinner-1: "\f122";
    $font-flaticon2-discount: "\f123";
    $font-flaticon2-dish2: "\f124";
    $font-flaticon2-dishes2: "\f125";
    $font-flaticon2-fast-food: "\f126";
    $font-flaticon2-fish2: "\f127";
    $font-flaticon2-flower: "\f128";
    $font-flaticon2-fork2: "\f129";
    $font-flaticon2-fruit: "\f12a";
    $font-flaticon2-hamburger: "\f12b";
    $font-flaticon2-hot-pepper: "\f12c";
    $font-flaticon2-ice-cream2: "\f12d";
    $font-flaticon2-invoice: "\f12e";
    $font-flaticon2-ketchup: "\f12f";
    $font-flaticon2-knife2: "\f130";
    $font-flaticon2-ladle2: "\f131";
    $font-flaticon2-libra: "\f132";
    $font-flaticon2-lobster: "\f133";
    $font-flaticon2-menu: "\f134";
    $font-flaticon2-menu-1: "\f135";
    $font-flaticon2-microwave-oven: "\f136";
    $font-flaticon2-mill: "\f137";
    $font-flaticon2-mixer2: "\f138";
    $font-flaticon2-no-smoking: "\f139";
    $font-flaticon2-noodles2: "\f13a";
    $font-flaticon2-open: "\f13b";
    $font-flaticon2-padnote: "\f13c";
    $font-flaticon2-pasta2: "\f13d";
    $font-flaticon2-pizza2: "\f13e";
    $font-flaticon2-placeholder: "\f13f";
    $font-flaticon2-point-of-service: "\f140";
    $font-flaticon2-pot2: "\f141";
    $font-flaticon2-refrigerator: "\f142";
    $font-flaticon2-reserved: "\f143";
    $font-flaticon2-restaurant: "\f144";
    $font-flaticon2-restaurant-card: "\f145";
    $font-flaticon2-rolling-pin2: "\f146";
    $font-flaticon2-salmon2: "\f147";
    $font-flaticon2-salt-and-pepper: "\f148";
    $font-flaticon2-salver: "\f149";
    $font-flaticon2-sausages: "\f14a";
    $font-flaticon2-sausages-1: "\f14b";
    $font-flaticon2-scooter: "\f14c";
    $font-flaticon2-shaker: "\f14d";
    $font-flaticon2-shrimp2: "\f14e";
    $font-flaticon2-signboard: "\f14f";
    $font-flaticon2-smartphone: "\f150";
    $font-flaticon2-soup: "\f151";
    $font-flaticon2-spatula2: "\f152";
    $font-flaticon2-spatula2-1: "\f153";
    $font-flaticon2-spicy-food: "\f154";
    $font-flaticon2-steak2: "\f155";
    $font-flaticon2-sushi2: "\f156";
    $font-flaticon2-take-away: "\f157";
    $font-flaticon2-tea2: "\f158";
    $font-flaticon2-terrace: "\f159";
    $font-flaticon2-toast2: "\f15a";
    $font-flaticon2-tree: "\f15b";
    $font-flaticon2-vegan: "\f15c";
    $font-flaticon2-vegetarian-food: "\f15d";
    $font-flaticon2-waiter: "\f15e";
    $font-flaticon2-wallet: "\f15f";
    $font-flaticon2-wc: "\f160";
    $font-flaticon2-wifi: "\f161";
    $font-flaticon2-wine: "\f162";
    $font-flaticon2-wine-menu: "\f163";