.rb-header{

  .rb-account-menu {
    text-align: right;
    margin-top: 10px;
  }

  .rb-logo {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;

    a:hover{
      cursor: pointer;
    }

    p {
      border-bottom: 3px solid black;
      display: inline-block;
    }

  };

  .rb-public-header-menu {
    font-size: 15px;

    nav {
      background: transparent;
      border:none;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
      border: none;
      box-shadow: none;
      min-width: 100%;

      li {
        min-width: 30px;
        margin-bottom: 3px;
      }
    }

    .rb-li-category {
      text-align: center;
      min-width: 150px;
      margin-left: 10px;

      a:hover{
        color: #337AB7 !important;
      }

      .rb-icon{
        text-align: left;
        padding-right: 15px;
      }
    }

    ul li {
      font-size: 15px;
    }
  }

}