.rb-list-header{
  margin-left:50px;
}

.rb-aggiunti-entita{
  margin-top: 10px;
}

.rb-list-content{

  a{
    text-decoration: none !important;
  }

  table{

    font-size: 20px;
    width: 100%;
    margin: 50px;
    text-decoration: none;

    thead{
      margin-bottom: 10px;
      border-bottom: 5px solid #dddddd;
    }

    tbody{
      tr{
        height: 40px;

        &:hover{
          background: #dddddd;
        }

        span{
          margin-right: 10px;
        }
      }
    }
  }

  .rb-table-cell{
    min-width: 25px;
  }

  .rb-table-cell-number{
    width: 50px !important;
    text-align: center;
  }

  .rb-table-cell-nome{
    text-transform: capitalize;
    padding-left: 20px;
  }

  .rb-knp-navigation{
    font-size: 20px;
    margin-left: 50px;
  }
}