// ======== PARTS ======== //
@import "parts/content-menu";
@import "parts/left-menu";

.rb-admin{

  .admin-container{
    padding-left: 50px;
    margin-left: 250px;
    margin-right: 50px;
    margin-top: 50px;


    .content{
      margin-top: 100px;
    }

  }

  .rb-admin-aggiungi-entita-header{
    height: 70px;
  }

  .rb-form-label{
    margin-right: 70px;
    margin-top: 10px;
    width: 400px;
  }

  .form-group-header{
    border-bottom: 3px solid #337ab7;

    h4{
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .rb-input-container{
    width: 400px;
    margin-bottom: 10px;
  }

  .rb-textarea{
    width: 100%;
    height: 300px;
  }

  .form-group{
    .row{
      margin-bottom: 20px;
    }
  }

  .form-control-checkbox{
    width: auto !important;
    height: auto !important;
  }


} 