<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RecipeBook Admin - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/frontend.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">


</head>
<body class="rb-admin {% block bodyclass %}{% endblock %}">


    {% include '@RecipeBookAdmin/Default/inc/admin-left-menu.html.twig' %}


    <div class="admin-container {% block divcontainerclass %}{% endblock %}">

        {% block content %}

        {% endblock %}

    </div>

    <script src="{{ asset('assets/js/backend.js') }}" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>
