{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    {{ parent() }}

    <div class="rb-list-header">
        <h1>
            Lista {% block listaTitle %}{% endblock %}
        </h1>
        <div class="row count">
            <div class="col-md-2">
                {{ pagination.getTotalItemCount }} <span>risultati trovati.</span>
            </div>
            <div class="col-md-10 rb-filter-box">
                <label for="rb-select2search">
                    <select class="form-control rb-select2-search-filter" name="rb-select2search" id="rb-select2search" data-action="{% if editAction is defined and editAction|length %}{{ path(editAction,{'id': "0"}) }}{% endif %}">
                        <option value="0"></option>
                        {% if listaEntita is not null and listaEntita|length %}
                            {% for e in listaEntita %}
                                <option value="{{ e.id }}">{{ e.name }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                </label>
                <a href="" class="rb-btn-search">
                    <button class="btn btn-primary"><span class="fa fa-search">Vai all'elemento selezionato</span></button>
                </a>
                {% block filters %}

                {% endblock %}
            </div>
        </div>
        {% if addAction is defined and addAction|length %}
            <div class="rb-aggiunti-entita">
                <a href="{{ path(addAction) }}">
                    <button class="btn btn-primary" role="button">
                        <span class="fa fa-plus">  Aggiungi {{ nomeEntita }}</span>
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="rb-list-content">
        <table>
            <thead>
            <tr>
                <th class="rb-table-cell rb-table-cell-number">#</th>
                <th class="rb-table-cell rb-table-cell-nome">Nome</th>
                <th class="rb-table-cell rb-table-cell-operazioni">Operazioni</th>
            </tr>
            </thead>
            <tbody>
            {% for p in pagination %}
                <tr>
                    <td class="rb-table-cell rb-table-cell-number">{{ loop.index }}</td>
                    <td class="rb-table-cell rb-table-cell-nome">
                        <a href="{% if editAction is defined and editAction|length %}{{ path(editAction,{'id': p.id}) }}{% endif %}">{{ p.name }}</a>
                    </td>

                    <td class="rb-table-cell rb-table-cell-operazioni">
                        <a href="{% if editAction is defined and editAction|length %}{{ path(editAction,{'id': p.id}) }}{% endif %}">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </a>
                        <a href="{% if deleteAction is defined and deleteAction|length %}{{ path(deleteAction,{'id': p.id}) }}{% endif %}">
                            <span class="fa fa-trash-o" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="rb-knp-navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
