{% extends "@RecipeBookAdmin/Default/admin-base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <header>
                        <h4>Le mie ricette:</h4>
                        <h6>Ultime 10 ricette inserite...</h6>
                    </header>
                </div>
                <div class="panel-body">
                    {% if myLast10Recipes is defined and myLast10Recipes|length %}
                        {% for key, value in myLast10Recipes %}
                            <div class="row">
                                <div class="col-md-2">{{ loop.index }}</div>
                                <a href="{{ url('edit_ricetta', {'id' : value.getId}) }}"><div class="col-md-10">{{ value.getName }}</div></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <header>
                        <h4>Tutte le ricette:</h4>
                        <h6>Ultime 10 ricette inserite...</h6>
                    </header>
                </div>
                <div class="panel-body">
                    {% if last10Recipes is defined and last10Recipes|length %}
                        {% for key, value in last10Recipes %}
                            <div class="row">
                                <div class="col-md-2">{{ loop.index }}</div>
                                <a href="{{ url('edit_ricetta', {'id' : value.getId}) }}"><div class="col-md-10">{{ value.getName }}</div></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <header>
                        <h4>Classifica:</h4>
                        <h6>Top 10</h6>
                    </header>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
